In [1]:
import pandas as pd
from sklearn.linear_model import Ridge

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,0.476,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
1,Byron Scott,SG,30,LAL,82,82,32.7,5.6,12.3,0.458,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
2,Chucky Brown,SF,23,LAL,42,2,10.3,1.4,3.0,0.469,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
3,Cliff Robinson,PF,31,LAL,9,0,8.7,1.2,3.0,0.407,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
4,Demetrius Calip,PG,22,LAL,7,0,8.3,0.6,2.6,0.222,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13702,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
13703,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
13704,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
13705,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
13706,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [4]:
stats.isnull().sum()

Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
Pts Won    0
Pts Max    0
Share      0
Team       0
W          0
L          0
W/L%       0
GB         0
PS/G       0
PA/G       0
SRS        0
dtype: int64

In [5]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

We're taking out the string variables we also want to redict the percentage and share a player got in a given year so we've removed those variables

In [6]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [7]:
train = stats[stats["Year"] < 2021]

In [8]:
test = stats[stats["Year"] == 2021]

Now we will start training the data

In [9]:
reg = Ridge(alpha= .1)

In [10]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [11]:
predictions = reg.predict(test[predictors])

In [12]:
predictions = pd.DataFrame(predictions, columns= ["Predictions"], index= test.index)

In [13]:
predictions

       Predictions
589       0.013874
590      -0.013217
591       0.002418
592      -0.004629
593       0.010376
...            ...
13553    -0.012090
13554    -0.011666
13555     0.016469
13556    -0.020601
13557    -0.005415

[540 rows x 1 columns]

We will add the predictions column to the df

In [14]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis= 1)

In [15]:
combination

                       Player  Share  Predictions
589              Aaron Gordon    0.0     0.013874
590             Austin Rivers    0.0    -0.013217
591                   Bol Bol    0.0     0.002418
592          Facundo Campazzo    0.0    -0.004629
593          Greg Whittington    0.0     0.010376
...                       ...    ...          ...
13553             Patty Mills    0.0    -0.012090
13554  Quinndary Weatherspoon    0.0    -0.011666
13555                Rudy Gay    0.0     0.016469
13556               Tre Jones    0.0    -0.020601
13557              Trey Lyles    0.0    -0.005415

[540 rows x 3 columns]

In [16]:
combination.sort_values("Share", ascending= False).head(10)

                      Player  Share  Predictions
600             Nikola Jokić  0.961     0.153277
8420             Joel Embiid  0.580     0.161238
3557           Stephen Curry  0.449     0.142330
9688   Giannis Antetokounmpo  0.345     0.207061
1348              Chris Paul  0.138     0.072082
10711            Luka Dončić  0.042     0.151631
7295          Damian Lillard  0.038     0.115628
3442           Julius Randle  0.020     0.088757
3437            Derrick Rose  0.010     0.033720
11072            Rudy Gobert  0.008     0.094867

Error metric

In [17]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["Predictions"])

0.002670698306448182

In [18]:
combination["Share"].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: Share, dtype: int64

In [19]:
combination = combination.sort_values("Share", ascending= False)
combination["Rank"] = list(range(1, combination.shape[0] + 1))

In [20]:
combination.head(10)

                      Player  Share  Predictions  Rank
600             Nikola Jokić  0.961     0.153277     1
8420             Joel Embiid  0.580     0.161238     2
3557           Stephen Curry  0.449     0.142330     3
9688   Giannis Antetokounmpo  0.345     0.207061     4
1348              Chris Paul  0.138     0.072082     5
10711            Luka Dončić  0.042     0.151631     6
7295          Damian Lillard  0.038     0.115628     7
3442           Julius Randle  0.020     0.088757     8
3437            Derrick Rose  0.010     0.033720     9
11072            Rudy Gobert  0.008     0.094867    10

In [21]:
combination = combination.sort_values("Predictions", ascending= False)
combination["Predicted Rank"] = list(range(1, combination.shape[0] + 1))

In [22]:
combination.sort_values("Share", ascending= False).head(10)

                      Player  Share  Predictions  Rank  Predicted Rank
600             Nikola Jokić  0.961     0.153277     1               3
8420             Joel Embiid  0.580     0.161238     2               2
3557           Stephen Curry  0.449     0.142330     3               6
9688   Giannis Antetokounmpo  0.345     0.207061     4               1
1348              Chris Paul  0.138     0.072082     5              33
10711            Luka Dončić  0.042     0.151631     6               4
7295          Damian Lillard  0.038     0.115628     7              12
3442           Julius Randle  0.020     0.088757     8              23
3437            Derrick Rose  0.010     0.033720     9              73
11072            Rudy Gobert  0.008     0.094867    10              19

Creating a grading system on how well we ranked the players in the top 5, if the "Predicted Rank" correctly predicted a player in "Rank" as a top 5 player, we will recieve a point

In [23]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending= False).head(5)
    predicted = combination.sort_values("Predictions", ascending= False)
    ps = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row ["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

Our Error metric is 0.76%

In [24]:
find_ap(combination)

0.7636363636363636

In [25]:
years = list(range(1992, 2022))

Here we're training our model on the years we have by starting on the 5th "for year in years[5:]:" year so there's data to train on.

All the data from 1992-1997 becomes our training set and 1997 is our test set that we're making predictions on. Looping from 5-6-7: 1997, 1998, 1999, etc. Through 2021

In [26]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns= ["Predictions"], index = test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis= 1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

Calculating the mean of the average percision(aps)

In [27]:
sum(aps) / len(aps)

0.7122502117530987

Adding the ranks in to use them as diagnostics

In [28]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending= False)
    combination["Rank"] = list(range(1, combination.shape[0] + 1))
    combination = combination.sort_values("Predictions", ascending= False)
    combination["Predicted Rank"] = list(range(1, combination.shape[0] + 1))
    combination["Diff"] = combination["Rank"] - combination["Predicted Rank"]
    return combination

In [29]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rank"] < 5].sort_values("Diff", ascending = False)

                 Player  Share  Predictions  Rank  Predicted Rank  Diff
13106  Shaquille O'Neal  0.268     0.207186     4               1     3
1572        Karl Malone  0.726     0.189578     2               2     0
10280    Michael Jordan  0.934     0.160216     1               3    -2
1116        Gary Payton  0.372     0.077515     3              15   -12

Code above shows the difference in our predicted ranking from the actual ranking in our data. Below is the created function for our backtest.

In [30]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns= ["Predictions"], index = test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis= 1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [31]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [32]:
mean_ap

0.7122502117530987

In [33]:
all_predictions[all_predictions["Rank"] < 5].sort_values("Diff").head(10)

                Player  Share  Predictions  Rank  Predicted Rank  Diff
1183        Jason Kidd  0.712     0.026313     2              62   -60
5050        Steve Nash  0.839     0.033757     1              46   -45
8312   Peja Stojaković  0.228     0.034863     4              41   -37
12396      Joakim Noah  0.258     0.045779     4              39   -35
5068        Steve Nash  0.739     0.054395     1              34   -33
5083        Steve Nash  0.785     0.076083     2              20   -18
4573      Tim Hardaway  0.207     0.059580     4              22   -18
1116       Gary Payton  0.372     0.077515     3              15   -12
6606       Kobe Bryant  0.291     0.078590     4              14   -10
896      Allen Iverson  0.270     0.075370     4              14   -10

Here we're seeing which columns the model thinks are the most important, so we can use this as diagnostic information.

In [34]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis= 1).sort_values(0, ascending = False)

           0     1
13  0.070202  eFG%
18  0.036512   DRB
29  0.026348  W/L%
17  0.022920   ORB
10  0.017158    2P
15  0.011801   FTA
21  0.011401   STL
22  0.011121   BLK
20  0.007378   AST
25  0.006664   PTS
5   0.006144   FGA
7   0.004574    3P
12  0.004370   2P%
4   0.003824    FG
0   0.000324   Age
30  0.000274    GB
27  0.000105     W
1   0.000088     G
2  -0.000011    GS
26 -0.000185  Year
32 -0.000266  PA/G
28 -0.000297     L
31 -0.000500  PS/G
33 -0.000550   SRS
24 -0.002853    PF
16 -0.004091   FT%
3  -0.004094    MP
14 -0.008177    FT
23 -0.009265   TOV
9  -0.010411   3P%
8  -0.011212   3PA
11 -0.017826   2PA
19 -0.029052   TRB
6  -0.134898   FG%

We seperated the stats below by year and applied our lambda function to it to get the mean of each column and divide the players average by the mean

In [35]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

C:\Users\ljjx\AppData\Local\Temp\ipykernel_2768\2022889540.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

Below is the result of the lambda fubction which we will add to the "stats"

In [36]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.534567  0.678383  1.500353  0.853510  0.456805   1.0
1      1.681253  1.356766  1.773145  0.640133  3.197633   1.0
2      0.406209  0.290736  0.409187  0.426755  0.000000   1.0
3      0.361075  0.484559  0.818375  0.000000  0.000000   1.0
4      0.180537  0.823751  0.136396  0.000000  0.456805   1.0
...         ...       ...       ...       ...       ...   ...
13702  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
13703  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
13704  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
13705  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
13706  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[13707 rows x 6 columns]

In [37]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [38]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,0.476,...,0.524,14.0,100.4,101.5,-0.95,1.534567,0.678383,1.500353,0.853510,0.456805
1,Byron Scott,SG,30,LAL,82,82,32.7,5.6,12.3,0.458,...,0.524,14.0,100.4,101.5,-0.95,1.681253,1.356766,1.773145,0.640133,3.197633
2,Chucky Brown,SF,23,LAL,42,2,10.3,1.4,3.0,0.469,...,0.524,14.0,100.4,101.5,-0.95,0.406209,0.290736,0.409187,0.426755,0.000000
3,Cliff Robinson,PF,31,LAL,9,0,8.7,1.2,3.0,0.407,...,0.524,14.0,100.4,101.5,-0.95,0.361075,0.484559,0.818375,0.000000,0.000000
4,Demetrius Calip,PG,22,LAL,7,0,8.3,0.6,2.6,0.222,...,0.524,14.0,100.4,101.5,-0.95,0.180537,0.823751,0.136396,0.000000,0.456805

In [60]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [61]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [62]:
mean_ap

0.7149167799909218

As you can see above we've improved the model slightly by adding the season averages into the model (as predictors). Position can also be used to improve the model as shown below.

In [63]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SF-C'],
      dtype=object)

Below we are taking the positions (which are categorical string values) and turning them into numaric values. We eill do the same thing with the players "team" which may also influence MVP voting.

In [64]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [65]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [66]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R,NPos,NTm
0,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,0.476,...,100.4,101.5,-0.95,1.534567,0.678383,1.500353,0.853510,0.456805,2,15
1,Byron Scott,SG,30,LAL,82,82,32.7,5.6,12.3,0.458,...,100.4,101.5,-0.95,1.681253,1.356766,1.773145,0.640133,3.197633,12,15
2,Chucky Brown,SF,23,LAL,42,2,10.3,1.4,3.0,0.469,...,100.4,101.5,-0.95,0.406209,0.290736,0.409187,0.426755,0.000000,8,15
3,Cliff Robinson,PF,31,LAL,9,0,8.7,1.2,3.0,0.407,...,100.4,101.5,-0.95,0.361075,0.484559,0.818375,0.000000,0.000000,2,15
4,Demetrius Calip,PG,22,LAL,7,0,8.3,0.6,2.6,0.222,...,100.4,101.5,-0.95,0.180537,0.823751,0.136396,0.000000,0.456805,5,15

In [69]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 50, random_state = 1, min_samples_split = 5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[27:], predictors)

In [70]:
mean_ap

0.7319029433681509

In [71]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[27:], predictors)

In [72]:
mean_ap

0.7149167799909218

Estimators = number of decision trees created, Random State = 1 = if we run the same code twice we'll get the same result, Min Sample Split = creates a specific number of branches based on the number of values we set. 5 means there wont be a split unless 5 values are in that node. Setting a lower number means a higher chance to over fit, but its more accurate and vice versa.