In [1]:
import requests
import os
import shutil
from bs4 import BeautifulSoup
import pandas as pd
import lxml
import time
import html5lib

In [2]:
years = list(range(1992, 2023))

Code below can be used or deleated
__________________________________________

In [ ]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

dfs = []

for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    time.sleep(20)  # Add a delay here
    
    if data.status_code == 200:
        with open("mvp/{}.html".format(year), "w+", encoding="utf-8") as f:
            f.write(data.text)
        
        with open("mvp/{}.html".format(year)) as f:
            page = f.read()

        soup = BeautifulSoup(page, 'html.parser')
        
        header = soup.find('tr', class_="over_header")
        if header:
            header.decompose()
            
        mvp_table_list = soup.find_all(id="mvp")
        
        if len(mvp_table_list) > 0:
            mvp_table = mvp_table_list[0]
            mvp_df = pd.read_html(str(mvp_table), header=0)[0]
            mvp_df["Year"] = year
            dfs.append(mvp_df)
    else:
        print(f"Failed to fetch data for year {year}. Status code: {data.status_code}")

# After the loop, you can concatenate the dataframes
mvps = pd.concat(dfs)

_______________________________________________________

In [3]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    time.sleep(6)
    with open("mvp/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(data.text.encode('ascii', 'ignore').decode('ascii'))

In [4]:
with open("mvp/1992.html") as f:
    page = f.read()
    time.sleep(10)
soup = BeautifulSoup(page, 'html.parser')
soup.find('tr', class_="over_header").decompose()

In [5]:
mvp_table = soup.find_all(id="mvp")[0]

In [6]:
mvp_1992 = pd.read_html(str(mvp_table), header=0)[0]

In [7]:
dfs = []
for year in years:
    with open("mvp/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find_all(id="mvp")[0]
    mvp_df = pd.read_html(str(mvp_table))[0]
    mvp_df["Year"] = year
    dfs.append(mvp_df)
time.sleep(20)

In [8]:

mvps = pd.concat(dfs)

In [9]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,28,CHI,80.0,900.0,960,0.938,80,38.8,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1992
1,2,Clyde Drexler,29,POR,12.0,561.0,960,0.584,76,36.2,...,6.6,6.7,1.8,0.9,0.470,0.337,0.794,12.8,0.223,1992
2,3,David Robinson,26,SAS,2.0,337.0,960,0.351,68,37.7,...,12.2,2.7,2.3,4.5,0.551,0.125,0.701,13.9,0.260,1992
3,4,Karl Malone,28,UTA,1.0,262.0,960,0.273,81,37.7,...,11.2,3.0,1.3,0.6,0.526,0.176,0.778,15.1,0.237,1992
4,5,Patrick Ewing,29,NYK,0.0,100.0,960,0.104,82,38.4,...,11.2,1.9,1.1,3.0,0.522,0.167,0.738,13.0,0.198,1992

In [10]:
mvps.to_csv("mvps.csv")

In [11]:
mvps

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,28,CHI,80.0,900.0,960,0.938,80,38.8,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1992
1,2,Clyde Drexler,29,POR,12.0,561.0,960,0.584,76,36.2,...,6.6,6.7,1.8,0.9,0.470,0.337,0.794,12.8,0.223,1992
2,3,David Robinson,26,SAS,2.0,337.0,960,0.351,68,37.7,...,12.2,2.7,2.3,4.5,0.551,0.125,0.701,13.9,0.260,1992
3,4,Karl Malone,28,UTA,1.0,262.0,960,0.273,81,37.7,...,11.2,3.0,1.3,0.6,0.526,0.176,0.778,15.1,0.237,1992
4,5,Patrick Ewing,29,NYK,0.0,100.0,960,0.104,82,38.4,...,11.2,1.9,1.1,3.0,0.522,0.167,0.738,13.0,0.198,1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,8,Stephen Curry,33,GSW,0.0,4.0,1000,0.004,64,34.5,...,5.2,6.3,1.3,0.4,0.437,0.380,0.923,8.0,0.173,2022
8,9,Chris Paul,36,PHO,0.0,2.0,1000,0.002,65,32.9,...,4.4,10.8,1.9,0.3,0.493,0.317,0.837,9.4,0.210,2022
9,10T,DeMar DeRozan,32,CHI,0.0,1.0,1000,0.001,76,36.1,...,5.2,4.9,0.9,0.3,0.504,0.352,0.877,8.8,0.154,2022
10,10T,Kevin Durant,33,BRK,0.0,1.0,1000,0.001,55,37.2,...,7.4,6.4,0.9,0.9,0.518,0.383,0.910,8.4,0.198,2022
11,10T,LeBron James,37,LAL,0.0,1.0,1000,0.001,56,37.2,...,8.2,6.2,1.3,1.1,0.524,0.359,0.756,7.5,0.172,2022

In [12]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

url = player_stats_url.format(year)
data = requests.get(url)
with open("player/{}.html", "w+", encoding="utf-8") as f:
        f.write(data.text.encode('ascii', 'ignore').decode('ascii'))

In [13]:
from selenium import webdriver

In [14]:
from selenium.webdriver.chrome.service import Service as ChromeService

In [15]:
from webdriver_manager.chrome import ChromeDriverManager

In [16]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

In [17]:
for year in years:
    url = player_stats_url.format(year)

    driver.get(url)
    driver.execute_script("window.scrollTo(1, 10000)")
    time.sleep(4)

    with open("player/{}.html".format(year), "w+", encoding='utf-8') as f:
        f.write(driver.page_source)

In [18]:
dfs = []
for year in years:
    with open(f"player/{year}.html", encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find_all(id="per_game_stats")[0]

    if len(player_table) > 0:
        player_df = pd.read_html(str(player_table))[0]
        player_df["Year"] = year
        dfs.append(player_df)
time.sleep(20)

In [19]:
players = pd.concat(dfs)

In [20]:
players.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,23,POR,71,1,13.2,2.5,5.1,...,1.1,2.5,3.7,0.4,0.4,0.2,0.9,1.9,6.1,1992
1,2,Mahmoud Abdul-Rauf,PG,22,DEN,81,11,19.0,4.4,10.4,...,0.3,1.1,1.4,2.4,0.5,0.0,1.4,1.6,10.3,1992
2,3,Mark Acres,C,29,ORL,68,6,13.6,1.1,2.2,...,1.4,2.3,3.7,0.3,0.4,0.2,0.5,2.1,3.1,1992
3,4,Michael Adams,PG,29,WSB,78,78,35.8,6.2,15.8,...,0.7,3.2,4.0,7.6,1.9,0.1,2.7,2.1,18.1,1992
4,5,Rafael Addison,SF,27,NJN,76,8,15.5,2.5,5.7,...,0.9,1.3,2.2,0.9,0.4,0.4,0.6,1.4,5.8,1992

In [21]:
players.to_csv("players.csv")

In [22]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

Below is where we're adding the HTML pages to our team folder

In [23]:
for year in years:
        url =team_stats_url.format(year)

        data = requests.get(url)

        with open("team/{}.html".format(year), "w+", encoding="utf-8") as f:
                f.write(data.text)
time.sleep(15)

In [24]:
dfs = []
for year in years:
    with open("team/{}.html".format(year), encoding='utf-8') as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    e_table = soup.find_all(id="divs_standings_E")[0]
    e_df = pd.read_html(str(e_table))[0]
    e_df["Year"] = year
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    dfs.append(e_df)
    
    w_table = soup.find_all(id="divs_standings_W")[0]
    w_df = pd.read_html(str(w_table))[0]
    w_df["Year"] = year
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    dfs.append(w_df)
time.sleep(15)

In [25]:
teams = pd.concat(dfs)

In [26]:
teams.tail()

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
13  56  26  .683     —  115.6  109.9   5.37  2022     Memphis Grizzlies*
14  52  30  .634   4.0  108.0  104.7   3.12  2022      Dallas Mavericks*
15  36  46  .439  20.0  109.3  110.3  -0.84  2022  New Orleans Pelicans*
16  34  48  .415  22.0  113.2  113.0   0.02  2022      San Antonio Spurs
17  20  62  .244  36.0  109.7  118.2  -8.26  2022        Houston Rockets

In [27]:
teams.head()

    W   L  W/L%    GB   PS/G   PA/G    SRS  Year                Team
0  51  31  .622     —  106.6  103.0   3.41  1992     Boston Celtics*
1  51  31  .622     —  101.6   97.7   3.67  1992    New York Knicks*
2  40  42  .488  11.0  105.4  107.1  -1.54  1992    New Jersey Nets*
3  38  44  .463  13.0  105.0  109.2  -3.94  1992         Miami Heat*
4  35  47  .427  16.0  101.9  103.2  -1.34  1992  Philadelphia 76ers

In [28]:
teams.to_csv("teams.csv")