In [1]:
import requests
import os
import shutil
from bs4 import BeautifulSoup
import pandas as pd
import lxml
import time
import html5lib

In [2]:
years = list(range(1992, 2022))

In [3]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

for year in years:
    url = url_start.format(year)
    data = requests.get(url)

    with open("mvp/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(data.text.encode('ascii', 'ignore').decode('ascii'))
time.sleep(20)

In [4]:
with open("mvp/1992.html") as f:
    page = f.read()

soup = BeautifulSoup(page, 'html.parser')
time.sleep(20)
soup.find('tr', class_="over_header").decompose()

In [5]:
mvp_table = soup.find_all(id="mvp")[0]

In [6]:
mvp_table_list = soup.find_all(id="mvp")

In [7]:
mvp_1992 = pd.read_html(str(mvp_table), header=0)[0]

In [8]:
dfs = []
for year in years:
    with open("mvp/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find_all(id="mvp")[0]
    mvp_df = pd.read_html(str(mvp_table))[0]
    mvp_df["Year"] = year
    dfs.append(mvp_df)
time.sleep(20)

In [9]:

mvps = pd.concat(dfs)

In [10]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,28,CHI,80.0,900.0,960,0.938,80,38.8,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1992
1,2,Clyde Drexler,29,POR,12.0,561.0,960,0.584,76,36.2,...,6.6,6.7,1.8,0.9,0.470,0.337,0.794,12.8,0.223,1992
2,3,David Robinson,26,SAS,2.0,337.0,960,0.351,68,37.7,...,12.2,2.7,2.3,4.5,0.551,0.125,0.701,13.9,0.260,1992
3,4,Karl Malone,28,UTA,1.0,262.0,960,0.273,81,37.7,...,11.2,3.0,1.3,0.6,0.526,0.176,0.778,15.1,0.237,1992
4,5,Patrick Ewing,29,NYK,0.0,100.0,960,0.104,82,38.4,...,11.2,1.9,1.1,3.0,0.522,0.167,0.738,13.0,0.198,1992

In [11]:
mvps.to_csv("mvps.csv")

In [12]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

url = player_stats_url.format(1992)
data = requests.get(url)
with open("player/{}.html", "w+", encoding="utf-8") as f:
        f.write(data.text.encode('ascii', 'ignore').decode('ascii'))

In [13]:
from selenium import webdriver

In [14]:
driver = webdriver.Chrome(executable_path= "C:\Windows\chromedriver.exe")

C:\Users\ljjx\AppData\Local\Temp\ipykernel_32952\2050265220.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path= "C:\Windows\chromedriver.exe")

In [15]:
for year in years:
    url = player_stats_url.format(year)

    driver.get(url)
    driver.execute_script("window.scrollTo(1, 10000)")
    time.sleep(3)

    html = driver.page_source

In [16]:
with open("player/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(html)

In [26]:
for year in years:
    with open(f"player/{year}.html", encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find_all(id="per_game_stats")

    if len(player_table) > 0:
        player_df = pd.read_html(str(player_table))[0]
        player_df["Year"] = year
        dfs.append(player_df)
time.sleep(20)

In [27]:
players = pd.concat(dfs)

In [29]:
players.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Precious Achiuwa,PF,21,MIA,61,4,12.1,2.0,3.7,...,1.2,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0,1992
1,2,Jaylen Adams,PG,24,MIL,7,0,2.6,0.1,1.1,...,0.0,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3,1992
2,3,Steven Adams,C,27,NOP,58,58,27.7,3.3,5.3,...,3.7,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6,1992
3,4,Bam Adebayo,C,23,MIA,64,64,33.5,7.1,12.5,...,2.2,6.7,9.0,5.4,1.2,1.0,2.6,2.3,18.7,1992
4,5,LaMarcus Aldridge,C,35,TOT,26,23,25.9,5.4,11.4,...,0.7,3.8,4.5,1.9,0.4,1.1,1.0,1.8,13.5,1992

In [30]:
players.to_csv("players.csv")

In [31]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [33]:
for year in years:
        url =team_stats_url.format(year)

        data = requests.get(url)

        with open("team/{}.html".format(year), "w+", encoding="utf-8") as f:
                f.write(data.text)
time.sleep(15)

In [36]:
dfs = []
for year in years:
        with open(f"team/{year}.html", encoding="utf-8") as f:
                page = f.read()

        soup = BeautifulSoup(page, 'html.parser')
        soup.find('tr', class_="thead").decompose()
        team_table = soup.find_all(id="divs_standings_E")

        if len(team_table) > 0:
                team = pd.read_html(str(team_table))[0]
                team["Year"] = year
                team["Team"] = team["Eastern Conference"]
                del team["Eastern Conference"]
                dfs.append(team)


        soup = BeautifulSoup(page, 'html.parser')
        soup.find('tr', class_="thead").decompose()
        team_table = soup.find_all(id="divs_standings_W")

        if len(team_table) > 0:
                team = pd.read_html(str(team_table))[0]
                team["Year"] = year
                team["Team"] = team["Western Conference"]
                del team["Western Conference"]
                dfs.append(team)
time.sleep(15)

In [37]:
teams = pd.concat(dfs)

In [39]:
teams.tail()

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                  Team
13  42  30  .583     —  112.4  110.2   2.26  2021     Dallas Mavericks*
14  38  34  .528   4.0  113.3  112.3   1.07  2021    Memphis Grizzlies*
15  33  39  .458   9.0  111.1  112.8  -1.58  2021     San Antonio Spurs
16  31  41  .431  11.0  114.6  114.9  -0.20  2021  New Orleans Pelicans
17  17  55  .236  25.0  108.8  116.7  -7.50  2021       Houston Rockets

In [40]:
teams.head()

    W   L  W/L%    GB   PS/G   PA/G    SRS  Year                Team
0  51  31  .622     —  106.6  103.0   3.41  1992     Boston Celtics*
1  51  31  .622     —  101.6   97.7   3.67  1992    New York Knicks*
2  40  42  .488  11.0  105.4  107.1  -1.54  1992    New Jersey Nets*
3  38  44  .463  13.0  105.0  109.2  -3.94  1992         Miami Heat*
4  35  47  .427  16.0  101.9  103.2  -1.34  1992  Philadelphia 76ers

In [41]:
teams.to_csv("teams.csv")