In [9]:
import requests
import os
import shutil
from bs4 import BeautifulSoup
import pandas as pd
import lxml
import time

In [10]:
years = list(range(1992, 2022))

In [11]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

for year in years:
    url = url_start.format(year)
    data = requests.get(url)

    with open("mvp/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(data.text.encode('ascii', 'ignore').decode('ascii'))
time.sleep(15)

In [8]:
with open("mvp/1992.html") as f:
    page = f.read()

soup = BeautifulSoup(page, 'html.parser')
time.sleep(20)
soup.find('tr', class_="over_header").decompose()

AttributeError: 'NoneType' object has no attribute 'decompose'

In [5]:
mvp_table = soup.find_all(id="mvp")[0]

In [6]:
mvp_table_list = soup.find_all(id="mvp")

In [7]:
mvp_1991 = pd.read_html(str(mvp_table), header=0)[0]

In [8]:
dfs = []
for year in years:
    with open("mvp/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find_all(id="mvp")[0]
    mvp_df = pd.read_html(str(mvp_table))[0]
    mvp_df["Year"] = year
    dfs.append(mvp_df)

In [9]:

mvps = pd.concat(dfs)

In [10]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,28,CHI,80.0,900.0,960,0.938,80,38.8,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1992
1,2,Clyde Drexler,29,POR,12.0,561.0,960,0.584,76,36.2,...,6.6,6.7,1.8,0.9,0.470,0.337,0.794,12.8,0.223,1992
2,3,David Robinson,26,SAS,2.0,337.0,960,0.351,68,37.7,...,12.2,2.7,2.3,4.5,0.551,0.125,0.701,13.9,0.260,1992
3,4,Karl Malone,28,UTA,1.0,262.0,960,0.273,81,37.7,...,11.2,3.0,1.3,0.6,0.526,0.176,0.778,15.1,0.237,1992
4,5,Patrick Ewing,29,NYK,0.0,100.0,960,0.104,82,38.4,...,11.2,1.9,1.1,3.0,0.522,0.167,0.738,13.0,0.198,1992

In [11]:
mvps.to_csv("mvps.csv")

In [12]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

url = player_stats_url.format(1991)
data = requests.get(url)
with open("player/1991.html", "w+", encoding="utf-8") as f:
        f.write(data.text.encode('ascii', 'ignore').decode('ascii'))

In [13]:
from selenium import webdriver

In [14]:
driver = webdriver.Chrome(executable_path= "C:\Windows\chromedriver.exe")

C:\Users\ljjx\AppData\Local\Temp\ipykernel_19996\2050265220.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path= "C:\Windows\chromedriver.exe")

In [15]:
year = 1992
url = player_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1, 10000)")
time.sleep(3)

html = driver.page_source

In [16]:
with open("player/{}.html", "w+", encoding="utf-8") as f:
        f.write(data.text.encode('ascii', 'ignore').decode('ascii'))

In [17]:
for year in years:
    url = player_stats_url.format(year)

    driver.get(url)
    driver.execute_script("window.scrollTo(1, 10000)")
    time.sleep(3)

    html = driver.page_source

In [18]:
with open("player/{}.html", "w+", encoding="utf-8") as f:
        f.write(data.text.encode('ascii', 'ignore').decode('ascii'))

In [1]:
dfs = []
for year in years:
    with open("player/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find_all(id="per_game_stats")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

NameError: name 'years' is not defined

In [33]:
players = pd.concat(dfs)

ValueError: No objects to concatenate

In [ ]:
players